<div class="modal-header text-center">
	<h4 class="modal-title w-100 font-weight-bold">Input new data</h4>
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close"  ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body mx-3">
    
    <div align ="center" style = "color:red" >{{error_message_height}}</div>
    <div align ="center" style = "color:red" >{{error_message_weight}}</div>
    <div align ="center" style = "color:red" >{{error_message_other}}</div>
    
	<div class="md-form mb-4">
		<i class="fas fa-text-height prefix grey-text" aria-hidden="true"></i> <input
			type="text" ng-model="mdheight" id="orangeForm-name1"
			class="form-control validate" autocomplete="off"> <label
			for="orangeForm-name">Height</label>
	</div>

	<div class="md-form mb-4">
		<i class="fas fa-weight prefix grey-text" aria-hidden="true"></i> <input
			type="text" ng-model="mdweight" id="orangeForm-name2"
			class="form-control validate" autocomplete="off"> <label
			for="orangeForm-name">Weight</label>
	</div>


</div>

<div class="modal-footer">
	<button class="btn btn-outline-success waves-effect" ng-click="register()">OK</button>
	<button class="btn btn-outline-warning waves-effect" ng-click="cancel()">Cancel</button>
</div>
