<div class="container-for-admin">

  <main class="pt-5 mx-lg-5">
  <div class="container my-5 py-5 z-depth-1">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

          <img src="pic/healthcare.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold">Hello!!</h3>

          <p class="font-weight-bold">You can manage your health data here. You can add, delete and update data.</p>

          <p class="text-muted" >If you want to manage your body data (height and weight), please proceed from the below link.</p>

          <button type="button" class="btn btn-outline-primary waves-effect" onclick="location.href='#!/bodydata'" >
            body data
           </button>
           
          <br></br>

          <p class="text-muted">If you want to manage your blood data (the main five components), please proceed from the below link.</p>

          <button type="button" class="btn btn-outline-primary waves-effect" onclick="location.href='#!/blooddata'">
            blood data
          </button>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
  </main>
</div>

