<div class="container-for-admin">
<!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="#!/">
          <strong class="blue-text">HOME</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="#!/menu"><i class="fa fa-stethoscope"></i> BodyData</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="#!/blooddata"><i class="fa fa-heart"></i> BloodData</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="" target="_blank"><i class="fa fa-user"></i> Account</a>
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="index.html" class="nav-link border border-light rounded waves-effect">
                <i class="fa fa-sign-out-alt"></i> Logout
              </a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
<div class="container my-5">


  <!--Section: Content-->
  <section class="p-5 z-depth-1">
    
    <h3 class="text-center font-weight-bold mb-5">Your Blood Data</h3>

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fas fa-file-alt indigo-text"></i>
          <span class="d-inline-block count-up" data-from="0" data-to="100" data-time="2000">{{tg}}</span>
        </h4>
        <p class="font-weight-normal text-muted">Unique Page</p>
      </div>

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fas fa-pencil-ruler indigo-text"></i>
          <span class="d-inline-block count2" data-from="0" data-to="330" data-time="2000">{{gtp}}</span>
        </h4>
        <p class="font-weight-normal text-muted">Reusable Component</p>
      </div>
      
      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count3" data-from="0" data-to="430" data-time="2000">{{hdl}}</span>
        </h4>
        <p class="font-weight-normal text-muted">Crafted Element</p>
      </div>

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count3" data-from="0" data-to="430" data-time="2000">{{ldl}}</span>
        </h4>
        <p class="font-weight-normal text-muted">Crafted Element</p>
      </div>

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count3" data-from="0" data-to="430" data-time="2000">{{fpg}}</span>
        </h4>
        <p class="font-weight-normal text-muted">Crafted Element</p>
      </div>

    </div>

  </section>
  <!--Section: Content-->
</div>
  </main>
</div>