<div class="container-for-admin">
<main class="pt-5 mx-lg-5">
 
  <div class="container my-5">


  <!--Section: Content-->
  <section class="p-5 z-depth-1">
    
    <h3 class="text-center font-weight-bold mb-5">Your Blood Data</h3>

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count-up" >{{tg}}</span>
        </h4>
        <p class="font-weight-normal text-muted">TG</p>
      </div>

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count2" >{{gtp}}</span>
        </h4>
        <p class="font-weight-normal text-muted">γ-GTP</p>
      </div>
      
      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count3" >{{hdl}}</span>
        </h4>
        <p class="font-weight-normal text-muted">HDL</p>
      </div>

    </div>

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count3" >{{ldl}}</span>
        </h4>
        <p class="font-weight-normal text-muted">LDL</p>
      </div>

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count3" >{{fpg}}</span>
        </h4>
        <p class="font-weight-normal text-muted">FPG</p>
      </div>

    </div>

  </section>
  <!--Section: Content-->
</div>
  </main>
</div>