<div class="container-for-admin">
<!--Main Navigation-->
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">

    <div class="container-fluid mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">


        <!--Grid column-->
        <div class="col-md-12 mb-4">


          <!--Card-->
          <div class="card">


            <!--Card content-->
            <div class="card-body">
            

              <!-- Table  -->
              <table class="table table-hover">
                <thead class="blue-grey lighten-4"  id ="thead">
                 <tr>
                  <th style="display:none;">ID</th>
                  <th>Time</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th></th>
                 </tr>
                </thead>
                <tbody id ="tbody">
                    <tr ng-repeat="data in data_source |  limitTo: pageLimit: limitBegin">
                     <td>{{data.createTime}}</td>
                     <td>{{data.Height}}</td>
                     <td>{{data.Weight}}</td>
                     <td><i class="fa fa-trash" data-toggle="modal" ng-click="setId(data.id,$index)"></i></td>
                    </tr>
                </tbody>
              </table>
              <!-- Table  -->
               <ul class="pagination">
                 <a class="page-link" ng-repeat="pager in pagerArr(data_source.length / pageLimit)" ng-click="pagerClick($index)">[{{pager + 1}}]</a>
              </ul>

            <button type="button" class="btn btn-primary" > 
               <a ng-click="insertdata()">Register</a>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>