<div class="modal-header text-center">
	<h4 class="modal-title w-100 font-weight-bold">Input new data</h4>
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close"  ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body mx-3">

	<div class="md-form mb-4">
		<i class="fas fa-text-height prefix grey-text" aria-hidden="true"></i> <input
			type="text" ng-model="mdheight" id="orangeForm-name1"
			class="form-control validate" autocomplete="off"> <label
			data-error="wrong" data-success="right" for="orangeForm-name">Height</label>
	</div>

	<div class="md-form mb-4">
		<i class="fas fa-weight prefix grey-text" aria-hidden="true"></i> <input
			type="text" ng-model="mdweight" id="orangeForm-name2"
			class="form-control validate" autocomplete="off"> <label
			data-error="wrong" data-success="right" for="orangeForm-name">Weight</label>
	</div>


</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="register()">Register</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
