<div class="container-for-admin">
<!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="#!/">
          <strong class="blue-text">HOME</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="#!/menu"><i class="fa fa-stethoscope"></i> BodyData</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="#!/menu"><i class="fa fa-heart"></i> BloodData</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href=""><i class="fa fa-user"></i> Account</a>
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="index.html" class="nav-link border border-light rounded waves-effect">
                <i class="fa fa-sign-out-alt"></i> Logout
              </a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
  <div class="container my-5 py-5 z-depth-1">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

          <img src="pic/healthcare.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold">Hello</h3>

          <p class="font-weight-bold">You can manage your health data here. </br>You can add, delete and update data.</p>

          <p class="text-muted">If you want to manage your body data (height and weight), please proceed from the below link.</p>

          <a class="font-weight-bold" href="#!/menu" >Here<i class="fas fa-angle-right ml-2"></i></a>
          
          <p class="text-muted">If you want to manage your blood data (the main five components), please proceed from the below link.</p>

          <a class="font-weight-bold" href="#!/blooddata" >Here<i class="fas fa-angle-right ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
  </main>
</div>

