<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="DataApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css"/>
  <link rel="stylesheet" href="css/style.css"/>
</head>

<body ng-controller="AccountsController">

 <div style="height: 100vh">
  <div class="flex-center flex-column">
  <form class="text-center border p-5" ng-submit="authentication()">
    
    <div align ="center" style = "color:red" ng-bind="msg"></div>

    <p class="h4 mb-4">Authentication</p>

    <!-- Username -->
    <input type="text" id="defaultLoginForUsername" class="form-control mb-4" placeholder="Username" ng-model="username">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" ng-model="password">

    <!-- Sign in button -->
    <button class="btn btn-dark btn-block my-4" type="submit">Sign in</button>

  </form>
  </div>
 </div>

 <div wc-overlay wc-overlay-delay="300">
    <img src="pic/spinner.gif" /><br/>Loading..
 </div>

 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>

 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.min.js"></script>
 <script type="text/javascript" src="//cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.6/dist/ui-bootstrap-tpls.min.js"></script>
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.js" ></script>
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
 
 <script src="js/wcAngularOverlay.js"></script>
 <script src="js/app.js"></script>

</body>
</html>